<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición y Creación de Productos</title>
    <%- include('partials/head') %>
</head>
<body class="body-editionCreacion">
    <%- include('partials/header') %>
    <div class="tituloCyE">
        <h1 class="titulos-gen">Creación y Edición de Productos</h1>
    </div>
    <main class="container-edition">
        <!-- Creación -->
        <div class="Creacion">
            <h2 class="titulos-gen">Crea tu Curso</h2>
            <form action="/product/create" method="POST" id="formulario-crear">
                <div id="grupo-name">
                    <label for="name">Nombre del producto</label>
                    <input type="text" id="name" name="name" required>
                    <span class="requisito" style="display: none;">Debe contener entre 1 y 50 caracteres.</span>
                </div>

                <div id="grupo-description">
                    <label for="description">Descripción del producto</label>
                    <textarea class="textarea" id="description" name="description" rows="4" placeholder="Ingrese la descripción del producto aquí..." required></textarea>
                    <span class="requisito" style="display: none;">Debe contener entre 10 y 400 caracteres.</span>
                </div>

                <div id="grupo-image">
                    <label for="image">URL de la foto</label>
                    <input type="text" id="image" name="image" placeholder="(Opcional)">
                    <span class="requisito" style="display: none;">Debe contener maximo 400 caracteres.</span>
                </div>

                <div id="grupo-price">
                    <label for="price">Precio</label>
                    <input type="text" id="price" name="price" placeholder="$" required>
                    <span class="requisito" style="display: none;">Debe contener solo números.</span>
                </div>

                <button type="submit" class="button-edit">Crear Producto</button>
            </form>
        </div>

        <!-- Edición -->
        <div class="listado-de-cursos-cont">
            <h2 class="titulos-gen">Edita tu Curso</h2>
            <% products.forEach(product => { %>
                <div class="curso-individual-cont">
                    <img class="img-edit" src="<%= product.image %>" alt="<%= product.name %>">
                    <p class="name-edit"><b><%= product.name %></b></p>
                    <p class="description-edit"><%= product.description %></p>
                    <p class="price-edit">$<%= product.price %></p>
                    <a href="/product/edit/<%= product.id %>" class="btn-read-more">Editar</a>
                </div>
                <hr>
            <% }) %>
        </div>
    </main>
    <!-- FOOTER -->
    <%- include('./partials/footer') %>
    <script src="../js-frontend/validations_Products.js"></script>
</body>
</html>
