<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('./partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

    <main>
        <!-- Carousel Section -->
        <div class="carousel">
            <div class="carousel-container">
                <article class="carousel-article">
                    <div class="slide-content">
                        <img src="/images/programfinal.jpg" alt="digitalAmaru">
                        <h3>digitalAmaru</h3>
                        <h5>Reinvéntate hacia el trabajo virtual</h5>
                    </div>
                </article>
                <article class="carousel-article">
                    <div class="slide-content">
                        <img src="/images/program2.JPG" alt="digitalAmaru">
                        <h3>digitalAmaru</h3>
                        <h5>Comienza tu carrera en tecnología</h5>
                    </div>
                </article>
                <article class="carousel-article">
                    <div class="slide-content">
                        <img src="/images/program3.JPG" alt="digitalAmaru">
                        <h3>digitalAmaru</h3>
                        <h5>Estudia HTML y CSS, JAVASCRIPT y Node.JS</h5>
                    </div>
                </article>
            </div>
        </div>

        <!-- Section de Cursos -->
        <section class="last-view">
            <h2 id="cursos" class="titular">Cursos</h2>
            <div class="courses-container">
                <% for(let i = 0; i < products.length; i++) { %>
                <div class="course">
                    <img src="<%= products[i].image %>" alt="<%= products[i].name %>">
                    <h3><%= products[i].name %></h3>
                    <p><%= products[i].description %></p>
                    <p class="price">$<%= products[i].price %></p>
                    <a href="/product/cursos/detalle/<%= products[i].id %>" class="btn-read-more">Leer más</a>
                </div>
                <% } %>
            </div>
        </section>

        <!-- Mensaje para agregar curso -->
        <div class="nuevocurso">
            <p>Para agregar curso haz <a href="/editCreation/edit">Click aquí</a></p>
        </div>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>

    <!-- Script para carrusel -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const carouselContainer = document.querySelector('.carousel-container');
            const slides = carouselContainer.querySelectorAll('.carousel-article');
            const slideWidth = slides[0].offsetWidth; // Ancho de las diapo
            let currentIndex = 0;
            const intervalTime = 3000; // Con esto fijas la velocidad a la que queres que pasen las img

            function showSlide(index) {
                const newPosition = -index * slideWidth;
                carouselContainer.style.transform = `translateX(${newPosition}px)`;
            }

            function showNextSlide() {
                currentIndex = (currentIndex + 1) % slides.length;
                showSlide(currentIndex);
            }

            setInterval(showNextSlide, intervalTime); // Esto cambia automáticamente las imágenes desp de cada intervalo de tiempo
        });
    </script>
</body>

</html>
