<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

<body class="body body__reset">
    <%- include('./partials/header') %>

    <main class="main" style="margin-top: 30px;">
        <div class="boxes-container top-boxes-container">
            <div class="box">
                <p>Tutoría personalizada</p>
            </div>
            <div class="box">
                <p>Clases en vivo</p>
            </div>
            <div class="box">
                <p>Profesores expertos</p>
            </div>
            <div class="box">
                <p>Proyectos grupales</p>
            </div>
        </div>

        <main class="main-detalle">
            <section class="div-info">
                <div>
                    <p>Nombre del curso</p>
                    <h2 class="name"><%= products.name %></h2>
                </div>
                <div>
                    <p>Descripcion del curso</p>
                    <p class="descrip"><%= products.description %></p>
                </div>
                <div>
                    <p>Precio del curso</p>
                    <p class="precio"><%= products.price %></p>
                </div>
            </section>
            <section>
                <img src="<%= products.image %>" alt="">
            </section>
        </main>

        <div class="boton">
            <form action="/product/add" method="POST">
                <input type="hidden" name="id" value="<%= products.id %>">
                <input type="hidden" name="name" value="<%= products.name %>">
                <input type="hidden" name="price" value="<%= products.price %>">
                <input type="hidden" name="image" value="<%= products.image %>">
                <% if (locals.isLogged) { %>
                <button type="submit">Agregar al carrito</button>
                <% } %>
            </form>
        </div>
    </main>
     <!-- FOOTER -->
     <%- include('./partials/footer') %>
</body>
</html>
