<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

<body class="body body__reset">
    <%- include('./partials/header') %>

    <main class="main" style="margin-top: 30px;">
        <div class="boxes-container top-boxes-container">
            <div class="box">
                <p>Tutoría personalizada</p>
            </div>
            <div class="box">
                <p>Clases en vivo</p>
            </div>
            <div class="box">
                <p>Profesores expertos</p>
            </div>
            <div class="box">
                <p>Proyectos grupales</p>
            </div>
        </div>

        <main class="main-detalle">
            <section class="div-info">
                <div>
                    <p>Nombre del curso</p>
                    <h2 class="name"><%= product.name %></h2>
                </div>
                <div>
                    <p>Descripcion del curso</p>
                    <p class="descrip"><%= product.description %></p>
                </div>
                <div>
                    <p>Precio del curso</p>
                    <p class="precio"><%= product.price %></p>
                </div>
            </section>
            <section>
                <img src="/images/<%= product.image %>" alt="">
            </section>
        </main>

        <div class="boton">
            <a href="/product/edit/<%= product.id%>">editar A</a>
            <form action="/product/add" method="POST">
                <button type="submit">Agregar al carrito</button>
            </form>
            <form action="/product/delete/<%= product.id%>?_method=DELETE" method="POST">
                <button type="submit">eliminar</button>
            </form>
        </div>
    </main>
     <!-- FOOTER -->
     <%- include('./partials/footer') %>
</body>
</html>
