<!DOCTYPE html>
<html>

<!--HEAD-->
<%- include('./partials/head') %>

<body class="body body__reset">
    <!--HEADER-->
    <%- include('./partials/header') %>

    <main class="main" style="margin-top: 30px;">
        <!-- Cuatro cajas con texto -->
        <div class="boxes-container top-boxes-container">
            <div class="box">
                <p>Tutoría personalizada</p>
            </div>
            <div class="box">
                <p>Clases en vivo</p>
            </div>
            <div class="box">
                <p>Profesores expertos</p>
            </div>
            <div class="box">
                <p>Proyectos grupales</p>
            </div>
        </div>

        <main class="main-detalle">
            <section class="div-info">
                <div>
                    <p>Nombre del curso</p>
                    <h2 class="name"><%= curso.name %></h2>
                </div>
                <div>
                    <p>Descripcion del curso</p>
                    <p class="descrip"><%= curso.description %></p>
                </div>
                <div>
                    <p>Precio del curso</p>
                    <p class="precio"><%= curso.price %></p>
                </div>
            </section>
            <section>
                <img src="<%= curso.image %>" alt="">
            </section>
        </main>

        <div class="boton">
            <div>
                <a href="/cart/add-to-cart/<%= curso.id %>">Agregar al carrito</a>
            </div>
        </div>
    </main>
</body>
</html>
